@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  /* -webkit-overflow-scrolling: touch; */
  /* -ms-overflow-scrolling: touch; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.lineAnimation{
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 500;
  font-size: 55px;
  /* color: #1E1B18; */
  color: #2B6FC7;
  position: relative;
}
.lineAnimation:after{
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -1;
  top: 50px;
  left: 0;
  background-color: #ECE9E6;
  /* background-color: #2B6FC7; */
  animation: underline 5s 1.2s normal;
}

@keyframes underline {
  0% {
    width: 0;
    opacity: 0.3;
  }

  50% {
    width: 100%;
    opacity: 1;
  }
}

.blueText{
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 55px;
  font-weight: 800;
  color: #2B6FC7;
}


/* Layout */
.grid, .grid2 {
  display: grid;
}
.three-grid {
  display: grid;
}

.intro {
  grid-area: ir;
}
.hero_img {
  grid-area: hr;
}
.center {
  justify-content: center !important;
}
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Icons */
.icons:hover {
  color: #2B6FC7;
  text-decoration: underline;
}
.icons_display {
  margin-left:auto;
}

/* resume download nav */
.resume {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  color: #1E1B18;
  position: relative;
}

.resume:hover {
  color: #2B6FC7;
}

/* Arrow Icon Animation*/
.arrow_ani{
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-4px);}
	60% {transform: translateY(-4px);}
}

/* .arrow_scale {
  transition: transform .4s;
  transition-timing-function: ease;
} */
/* .arrow_scale:hover{ */
  /* -ms-transform: scale(1.5); IE 9 */
  /* -webkit-transform: scale(1.5); Safari 3-8 */
  /* transform: scale(1.5); 
} */

/* Nav */
.myLogo{
  background-color: white;
  position: sticky;
  -webkit-position: sticky;
  top: 0px;
  /* left: 0;  */
  z-index: 1000;
  width: 100%;
  height: 13%;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}
/* .myLogo::before,
.myLogo::after {
  content: '';
  display: block;
  position: sticky;
  -webkit-position: sticky;
}

.myLogo::before {
  top: 48px; 
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.myLogo::after {
  background: linear-gradient(white 10%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.4) 70%, transparent);
  top: 0;
  z-index: 2;
} */

/* Home Text SlideUp */
.text_slide:first-child{
  animation: anim 6s infinite;
}

@keyframes anim {
  0%{
    margin-top: 0px;
  }
  25%{
    margin-top: 0px;
  }
  50%{
    margin-top: -80px;
  }
  75%{
    margin-top: -80px;
  }
  100%{
    margin-top: 0px;
  }
}


/* hamburger Menu */
label{
  display:flex;
  flex-direction:column;
  width:35px;
  cursor:pointer;
}

label span{
  background: #2B6FC7;
  border-radius:10px;
  height:3px;
  margin: 4px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


span:nth-of-type(1){
  width:50%;
  
}

span:nth-of-type(2){
  width:100%;
}


span:nth-of-type(3){
  width:75%;
}


input[type="checkbox"]{
  display:none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,4px)
}


input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg)
}


input[type="checkbox"]:checked ~ span:nth-of-type(3){
  
  transform-origin:bottom;
  width:50%;
  transform: translate(17px,-11px) rotatez(45deg);

}
label{
display:flex;
  flex-direction:column;
  width:35px;
  cursor:pointer;
}

label span{
  background: #2B6FC7;
  border-radius:10px;
  height:3px;
  margin: 4px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


span:nth-of-type(1){
  width:50%;
  
}

span:nth-of-type(2){
  width:100%;
}


span:nth-of-type(3){
  width:75%;

}


input[type="checkbox"]{
  display:none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(4px,1px)
}


input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg)
}

input[type="checkbox"]:checked ~ span:nth-of-type(3){
  transform-origin:bottom;
  width:50%;
  transform: translate(15px,-6px) rotatez(46deg);
}


/* Responsive */

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .container {
    max-width: 460px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .gitHubIcon {
    width: 18px !important;
  }
  .hero_margin {
    margin-top: 3% !important;
  }
  .Cont {
    width: 100%;
  }
  .heroCont {
    display: block;
  }
  .myLogo {
    /* margin-left: 6%;
    margin-top: 2%; */
    position: inherit;
    box-shadow: none;
  }

  .projects, .projects2 {
    width: 327px;
  }
  .blueText, .lineAnimation {
    font-size: 32px;
  }
  .lineAnimation:after{
    top: 23px;
  }

  .hero_img {
    position: absolute;
    top: 90px;
    max-width: 350px;
    right:0;
  }
  .hero_text {
    margin-top: 350px;
    margin-bottom: 0;
  }
  .page_hero {
    max-width: 250px;
    display: flex;
    justify-content: center;
  }

  .intro_header {
    font-size: 32px !important;
  }
  .intro_sub {
    font-size: 18px !important;
    font-weight: 600;
  }

  .icons {
    size: 10px;
  }

  .resume {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    color: #1E1B18;
    position: relative;
    padding: 20px;
  }

  .grid, .grid2{
    grid-template-columns: 1fr;
  }
  .three-grid{
    grid-template-columns: 1fr;
  }

  .arrow {
    display: none;
  }
}

 /* Media Query for Tablets */
@media (min-width: 768px){  
  body {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
  }
  .gitHubIcon {
    width: 18px !important;
  }
  .container {
    max-width: 760px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .heroCont {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  .page_hero{
    /* width: 50%; */
  }
  .projects {
    width: 227px;
  }
  .projects2 {
    width: 327px;
  }
  .blueText, .lineAnimation {
    font-size: 32px;
  }

  .lineAnimation:after{
    top: 23px;
  }
  .grid{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 3%;
  }
  .grid2 {
    grid-template-columns: 1fr ;
    column-gap: 5%;
    grid-row-gap: 3%;
  }

  .three-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
  }

  .intro_header {
    font-size: 35px !important;
    margin-top: 0;
  }
  .intro_sub {
    font-size: 23px !important;
  }

  .sub_res{
    margin-bottom: 0 !important;
  }

  .scale{
    transition: transform .4s;
    transition-timing-function: ease;
  }
  .button_scale:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  }
  .scale:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 992px) {
  .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  .projects {
    width: 300px;
  }
  .projects2 {
    width: 470px;
  }
  .heroCont {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  .blueText, .lineAnimation {
    font-size: 55px;
  }
  .lineAnimation:after{
    top: 35px;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 3%;
  }
  .grid2 {
    grid-template-columns: 1fr 2fr;
    column-gap: 5%;
    grid-row-gap: 3%;
  }
  .three-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
  }

  .about_prof_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
  }
  .about_skill_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
  }

  .intro_header {
    font-size: 55px !important;
  }
  .intro_sub {
    font-size: 30px !important;
  }

  .scale{
    transition: transform .4s;
    transition-timing-function: ease;
  }
  .button_scale:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  }
  .scale:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  .arrow_top{
    margin-top: -100px;
  }
}

/* Media Query for Desktops */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .projects, .projects2 {
    /* width: 100%; */
  }

  .heroCont {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  .blueText, .lineAnimation {
    font-size: 55px;
  }
  .three-grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
    grid-row-gap: 3%;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    grid-row-gap: 3%;
  }
  .grid2 {
    grid-template-columns: 1fr 2fr;
    column-gap: 5%;
    grid-row-gap: 3%;
  }

  .scale{
    transition: transform .4s;
    transition-timing-function: ease;
  }
  .button_scale:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  }
  .scale:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  .scroll_big_screen{
    position: inherit !important;
    margin-top: 40px;
  }
  .arrow_top{
    margin-top: -200px;
  }
}